[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
qrcode = "*"
brother-ql = "*"
pymaging = {editable = true,git = "git://github.com/ojii/pymaging.git"}
pymaging-png = {editable = true,git = "git://github.com/ojii/pymaging-png.git"}
pillow = "*"
airtable-python-wrapper = "*"

[requires]
python_version = "3"
